* {
  margin: 0
}

#main-div{
  background-color: gray;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
#sidebar-div {
  background-color: white;
  width: 20vw;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}

#sidebar-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2vh;
}

#sidebar-btn {
  background-color: rgb(225, 237, 236);
  padding: 1.25rem 1.5rem;
  border: 0px solid black;
  border-radius: 10px;
}

.link {
  color: black;
  transition: color 0.25s;
}

.link:hover {
  color: rgb(99, 136, 154);
  text-decoration-line: underline;
}

#dashboard-div {
  background-color: rgb(205, 227, 228);
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5vh;
  overflow: auto;
  background-image: url("https://wallpapers.com/images/hd/aesthetic-anime-background-uniiofevfptrbv8t.jpg");
  background-size: 180vh;
  background-repeat: no-repeat;
  background-position: center;
}

#stat-div {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  /* width: 80vw; */
}

.stat-card-div {
  background-color: white;
  padding: 1.4rem;
  max-width: 20vw;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#data-search-div {
  background-color: rgba(225, 237, 236, 0.729);
  border-radius: 15px 15px 0px 0px;
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#search-div {
  background-color: white;
  width: 80vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#search-bar {
  background-color: rgb(241, 241, 241);
  height: 5vh;
  border: 0px solid black;
}

#search-btn {
  background-color: rgb(225, 237, 236);
  height: 5vh;
  border: 0px solid black;
}

#slider-div {
  display: flex;
  flex-direction: row;
}


#datacolumns-div {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}